<div *ngIf="!dataConfirmed.length">
  loading...
</div>

<div *ngIf="dataTotal.length">
  <h2>Total</h2>
  <ngx-charts-pie-grid
    [view]="view"
    [scheme]="colorScheme"
    [results]="dataTotal">
  </ngx-charts-pie-grid>
</div>

<div *ngIf="dataConfirmed.length">
  <h2>Confirmed</h2>
  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="dataConfirmed"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    >
  </ngx-charts-pie-chart>
</div>

<div *ngIf="dataDeaths.length">
  <h2>Deaths</h2>
  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="dataDeaths"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    >
  </ngx-charts-pie-chart>
</div>

<div *ngIf="dataRecovered.length">
  <h2>Recovered</h2>
  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="dataRecovered"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    >
  </ngx-charts-pie-chart>
</div>
